@page "/updateEntrada/{id}"
@inject IRepository rep
@inject IJSRuntime JsInterop
@inject NavigationManager Nav

<MonitorsHeader Title="Monitores" Title2="EDITAR ENTRADA DE ALMACÉN"></MonitorsHeader>

<div class="container-fluid mx-3 overflow-hidden">
    <div class="row">
        <div class="col-10">
            <button onclick="@GoBack" type="button" class="btn btn-secondary" title="Volver atrás">
                <i class="fa-solid fa-arrow-left-long fa-lg"></i>
            </button>
            <button onclick="@GoMenu" type="button" class="btn btn-secondary" title="Volver al menú">
                <i class="fa-solid fa-bars fa-lg"></i>
                Menú
            </button>
        </div>
    </div>
</div>
<form>
    <!-- Albaran -->
    <div class="row center3 mt-5">
        <div class="form-group col-md-6">
            <label for="inputAlbaran">Albarán</label>
            <input type="text" @bind-value="@UpdateAlbaran" class="form-control" id="inputAlbaran" required>
        </div>
    </div>

    <!-- Fechas -->
    <div class="row center3 mt-2">
        <div class="form-group col-md-3">
            <label for="inputFechaEntrada">Fecha de entrada</label>
            <input type="date" @bind-value="@UpdateFechaEntrada" class="form-control" id="inputFechaEntrada" required>
        </div>
        <div class="form-group col-md-3">
            <label for="inputFechaTransito">Fecha de tránsito</label>
            <input type="date" @bind-value="@UpdateFechaTransito" class="form-control" id="inputFechaTransito" required>
        </div>
    </div>

    <!-- Proveedor y Estado-->
    <div class="row center3 mt-2">
        <div class="form-group col-md-3">
            <label for="inputProveedor">Proveedor</label>
            <select class="form-select" @bind="@UpdateProveedor" id="inputProveedor" required>
                <option selected disabled value="">Selecciona un proveedor</option>
                @foreach (var items in Listadoproveedores)
                {
                    <option value="@items.IdProveedor">@items.Nombre</option>
                }
            </select>
        </div>
        <div class="form-group col-md-3">
            <label for="inputEstado">Estado</label>
            <select class="form-control" @bind="@UpdateEstado" id="inputEstado">
                <option value="Almacenado">Almacenado</option>
                <option value="Tránsito">Tránsito</option>
                <option value="Pendiente">Pendiente</option>
            </select>
        </div>
    </div>

    <!-- Cantidad y Bultos -->
    <div class="row center3 mt-2">
        <div class="form-group col-md-3">
            <label for="inputCantidad">Cantidad</label>
            <input type="text" @bind-value="@UpdateCantidad" class="form-control" id="inputCantidad" required>
        </div>
        <div class="form-group col-md-3">
            <label for="inputBultos">Bultos</label>
            <input type="text" @bind-value="@UpdateBultos" class="form-control" id="inputBultos" required>
        </div>
    </div>

    <!--Botón -->
    <div class="row center3 mt-3">
        
        <div class="col-1">
            <button type="submit" onclick="@UpdateEntradas" class="btn btn-secondary">Modificar</button>
        </div>
        <label class="ml-1 mt-3 text-center">
            @Missatge
        </label>
    </div>
</form>
