@page "/newProveedor"
@inject IRepository rep
@inject IJSRuntime JsInterop
@inject NavigationManager Nav

<MonitorsHeader Title="Monitores" Title2="NUEVO PROVEEDOR"></MonitorsHeader>

<div class="container-fluid mx-3 overflow-hidden">
    <div class="row">
        <div class="col-10">
            <button onclick="@GoBack" type="button" class="btn btn-secondary" title="Volver atrás">
                <i class="fa-solid fa-arrow-left-long fa-lg"></i>
            </button>
            <button onclick="@GoMenu" type="button" class="btn btn-secondary" title="Volver al menú">
                <i class="fa-solid fa-bars fa-lg"></i>
                Menú
            </button>
        </div>
    </div>
</div>
<form>
    <!--Nombre, NumFiscal y Telefono-->
    <div class="row center3 mt-5">
        <div class="form-group col-md-3">
            <label for="inputName">Nombre</label>
            <input type="text" @bind-value="@NewNombre" class="form-control" id="inputName" required>
        </div>
        <div class="form-group col-md-2">
            <label for="inputNumFiscal">Num. Fiscal</label>
            <input type="text" @bind-value="@NewNumFiscal" class="form-control" id="inputNumFiscal" required>
        </div>
        <div class="form-group col-md-2">
            <label for="inputPhone">Teléfono</label>
            <input type="text" @bind-value="@NewTelefono" class="form-control" id="inputPhone" required>
        </div>
    </div>

    <!--Direccion, Código Postal y Email-->
    <div class="row center3 mt-2">
        <div class="form-group col-md-3">
            <label for="inputDireccion">Dirección</label>
            <input type="text" @bind-value="@NewDireccion" class="form-control" id="inputDireccion" required>
        </div>
        <div class="form-group col-md-3">
            <label for="inputEmail">Email</label>
            <input type="text" @bind-value="@NewEmail" class="form-control" id="inputEmail" required>
        </div>
        <div class="form-group col-md-1">
            <label for="inputCP">Código Postal</label>
            <input type="text" @bind-value="@NewCodigoPostal" class="form-control" id="inputCP" required>
        </div>
    </div>
 
    <!--Observaciones-->
    <div class="row center3 mt-2">
        <div class="form-group col-md-7 mt-2">
            <label for="inputObv">Observaciones</label>
            <input type="text" @bind-value="@NewObservaciones" class="form-control" id="inputObv">
        </div>
    </div>

    <!--Check y Botón-->
    <div class="row center3 mt-3">
        <div class="form-group form-check col-md-2">
            <input type="checkbox" class="form-check-input" id="gridCheck" @bind="@Checked" required>
            <label class="form-check-label" for="gridCheck">Aceptar los términos y condiciones</label>
        </div>
        <div class="col-md-2">
            <button type="submit" onclick="@AddProveedor" class="btn btn-secondary">Agregar</button>
        </div>
        <label class="ml-1 mt-3 text-center">
            @Missatge
        </label>
    </div>
</form>

